<%- include('partials/header'); -%>



<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col">
      <h1 class="fw-light">Welcome</h1>
      <p class="lead text-muted">Select one of the options below to begin.</p>

    </div>
  </div>
</section>

<hr>

<div class="container-fluid" id="featured-3">
  <div class="row ">


    <div class="features-item col-lg-4">
      <a href="/projects"> <i class="features-img fa-solid fa-bars-progress"></i></a>
            <div class="features-text">
      <h3>My Projects</h3>
      <p>Track your projects using custom made schedules with several display options</p>
    </div>
        </div>


    <div class="features-item  col-lg-4">
      <a href="/dashboard"><i class="features-img fa-solid fa-tarp"></i></a>
      <div class="features-text">
        <h3>My Dashboard</h3>
        <p>Save time planning with in built cost centre tracking ability to set you up for success.</p>
      </div>
    </div>



    <div class="features-item  col-lg-4">
      <a href="/erp"><i class="features-img fa-sharp fa-solid fa-table-columns"></i></a>
      <div class="features-text">
      <h3>ERP</h3>
      <p>Manage your business with cutting-edge resource planning features to help you achive project goals now and in the future.</p>
  </div>
    </div>

  </div>



  <%- include('partials/footer'); -%>
